//fonts
$google-font:  'https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap';


$fontSizeCategory: 16px;
$fontSizeDescription: 14px;
$fontSizeSlogan: 32px;
$fontSizePrice: 32px;
$fontSizeName: 32px;
$fontSizeFormTitle: 32px;
$fontSizeFormDescription: 14px;
$fontSizeNameWeight500: 40px;
$fontSizePriceGold: 25px;
$fontSizeTitle: 32px;
$fontSizeBtn: 14px;
$fontSizeNotice: 13px;
$fontSizeBorderRadius: 18px;
$buyBtnWidth: 146px;
$buyBtnHeight: 36px;
$signUpBtnHeight: 41px;
$baseFontFamily: 'Montserrat', sans-serif;
$fontWeight500: 500;
$fontWeight700: 700;
$fontWeight400: 400;
$fontWeight600: 600;


// $mobilePadding: (12px / $baseFontSize) * 1rem;
// $desktopPadding: 1rem;


// Paths
$imagesPath: "../i/";
$fontsPath: "../fonts/";
$usersFilesPath: "../userfiles/";


 // Colors
$backgroundHeader: #2B2835;
$backgroundMain: #F2F2F2;
// $colorButtonYellow: #F2F2F2;
$colorButtonBlack: #000000;
$colorBtnYellow: #FFC700;
$colorButtonBlack: #000000;
$colorText: #000000;
$colorTextWhite: #FFFFFF;
$colorRadioWhite: #FFFFFF;
$colorRadioRed: #DD5656;
$colorRadioBlack: #000000;
$colorPrice: #9D8220;
$colorFormBorder: #BFBFBF;
$colorFormTitle: #2B2835;
$colorFormDescription: #030303;
$colorFooterItems:#B8B8B8;
$colorBackgroundGrey: #F8F8F9;
$colorBackgroundDesktop: #191720;


