body {
  font-family: $baseFontFamily;
}

.btn {
  border-radius: $fontSizeBorderRadius;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  font-weight: $fontWeight600;
  font-size: $fontSizeBtn;
}

.radio-item {
  display: inline-block;
}

input[type='radio'] {
  appearance: none;
  margin: 0 13px 29px 0;
  font: inherit;
  color: currentColor;
  border: 1px solid #EAEAEA;
  border-radius: 50%;
  height: 37px;
  width: 37px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.135817);

  &:checked {
    border-color: black;
  }


  &#white {
    background-color: $colorRadioWhite;
  }

  &#red {
    background-color: $colorRadioRed;
  }

  &#black {
    background-color: $colorRadioBlack;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $backgroundHeader;
  margin: 0;
  height: 57px;
}

.product-list {
  position: relative;
}

.product-item {

  text-align: left;
  margin: 0 20px 30px 20px;

  &__yellow {
    background-image: url("/i/background_yellow.png");
    background-repeat: no-repeat;
    background-color: $colorBtnYellow;
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px 33px 20px;
  }
  &__bg-grey {
    background-color: $colorBackgroundGrey;
    padding-bottom: 27px;
  }

  &__position {
    box-sizing: border-box;
    margin-top: -110px;
  }

  &-white {
    color: $colorTextWhite;
  }

  &__image {
    margin: auto;
    display: block;
  }

  #img__bg {
    background-color: $backgroundHeader;
    position: absolute;
    width: 100%;
    z-index: -1;
    left: 0;
    height: 150px;
  }

  &-weight-400 {
    font-weight: $fontWeight400;
    font-size: $fontSizeCategory;
  }

  &-weight-500 {
    font-weight: $fontWeight500;
    font-size: $fontSizeCategory;
    margin-bottom: 7px;
  }

  &-product-item-name-weight-500 {
    font-weight: $fontWeight500;
    font-size: $fontSizeNameWeight500;
  }

  &__slogan {
    font-weight: $fontWeight700;
    font-size: $fontSizeSlogan;
    margin-bottom: 22px;
  }

  &__name {
    font-weight: $fontWeight700;
    font-size: $fontSizeName;
  }

  &__color-selector_title {
    font-weight: $fontWeight400;
    font-size: $fontSizeTitle;
    margin-bottom: 10px;
  }

  &__color-selector_description {
    font-weight: $fontWeight400;
    font-size: $fontSizeDescription;
    margin-bottom: 19px;
  }

  &__price {
    font-weight: $fontWeight400;
    font-size: $fontSizePrice;
    margin-bottom: 11px;
    display: flex;
    justify-content: flex-start;

    &__notice {
      font-weight: $fontWeight500;
      font-size: $fontSizeNotice;
    }

    &-gold {
      color: $colorPrice;
      font-size: $fontSizePriceGold;
      font-weight: $fontWeight600;
    }

    a.btn {
      margin: 0 0 0 80px;
    }
  }

  .btn-yellow {
    width: $buyBtnWidth;
    height: $buyBtnHeight;
    line-height: $buyBtnHeight;
    background-color: $colorBtnYellow;
    color: $colorText;
  }

  .btn-black {
    width: $buyBtnWidth;
    height: $buyBtnHeight;
    line-height: $buyBtnHeight;
    background-color: $colorButtonBlack;
    color: $colorTextWhite;
  }
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__title {
    font-size: $fontSizeTitle;
    font-weight: $fontWeight700;
    color: $colorFormTitle;
    text-align: center;
    margin: 39px 0 11px 0;
  }

  &__description {
    font-size: $fontSizeFormDescription;
    font-weight: $fontWeight400;
    color: $colorFormDescription;
    margin: 0 12px 30px 12px;
    text-align: center;
  }

  input[type=email] {
    // box-sizing: border-box;
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 12px 0 12px;
    margin: 22px 0;
    border: 1px solid $colorFormBorder;
    border-radius: $fontSizeBorderRadius;
    justify-content: center;
  }

  div {
    padding: 0 22px;
    box-sizing: border-box;
  }

  .btn-yellow {
    height: $signUpBtnHeight;
    line-height: $signUpBtnHeight;
    border: 1px solid $colorFormBorder;
    background-color: $colorBtnYellow;
    color: $colorText;
    width: 100%;
    display: block;
  }
}

footer {
  background-color: $backgroundHeader;
  padding-bottom: 36px;

  .logo__wrapper {
    display: flex;
    justify-content: center;
    margin-top: 111px;

    img {
      width: 50px;
      height: 50px;
      margin: 30px 0 51px 0;
    }
  }

  .footer__menu {
    a {
      text-decoration: none;
      color: #FFFF;
    }

    .footer__items {
      font-weight: $fontWeight600;
      font-size: 18px;
      margin: 0 0 20px 26px;
      line-height: 31px;
    }

    ul {
      box-sizing: border-box;
      list-style: none;
      padding-left: 0;
    }

    li {
      box-sizing: border-box;
      font-weight: $fontWeight600;
      font-size: 12px;
      text-transform: uppercase;
    }

    .footer__items-list {
      color: $colorFooterItems;
      margin-left: 26px;
    }

    &__item {
      padding: 5px 0;

      &--underline {
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.3);
      }
    }
  }

  .social__wrapper {
    margin: 0 0 36px 26px;
  }
}